<!-- Navbar from https://codepen.io/neilff/pen/xoghe -->

<div class="header">
  <div class="menu">
    <a href="/" class="link">
      <div class="title">Home</div>
      <div class="bar"></div>
    </a>
    <a href="/about" class="link">
      <div class="title">About</div>
      <div class="bar"></div>
    </a>
    <a href="/submit" class="link">
      <div class="title">Submit</div>
      <div class="bar"></div>
    </a>
    <a href="/account" class="link">
      <div class="title">Account</div>
      <div class="bar"></div>
    </a>
    <div class="search_box">
        <input type="text" name='query' placeholder="SEARCH">
    </div>
  </div>
</div>