<!-- Navbar from https://codepen.io/neilff/pen/xoghe -->

<div class="header">
  <div class="menu">
    <a href="/" class="link">
      <div class="title">Home</div>
      <div class="bar"></div>
    </a>
    <a href="/about" class="link">
      <div class="title">About</div>
      <div class="bar"></div>
    </a>
    <a href="/contact" class="link">
      <div class="title">Contact</div>
      <div class="bar"></div>
    </a>
    <a href="/account" class="link">
      <div class="title">Write A Review</div>
      <div class="bar"></div>
    </a>
  </div>
</div>