{% extends 'base.html' %}


<div class='container'>
    {% block content %}
        <h1>About</h1>
        <div class="text-container">
            <h2 class='about-h'>Welcome to out with dad!</h2>
            </br>
            <p class='about-p'>My name is Chelsea & my Dad's name is Paul. Together we're trying to conquer all of NYC's restaurants & deliver vivid, detailed reviews to help you really get a feel for the next spot you choose to dine.</p>
            </br>
            <!-- <h2 class='about-h'>Origin</h2> -->
            <p class='about-p'>Born & raised in Staten Island, New York, I grew up really close to my Dad. But I think as we get older, we get lost in our lives that we forget to make time for our parents. So every week, I dedicate at least one day to spending good ole quality time with my main man. Without even realizing it, we were going out to eat every week for years. People joke that we probably have been to every restaurant on Staten Island. & while that isn't <i>completely</i> true, we have to been to <b>a lot</b>.
            </br>
            </br>
            So this idea of 'out with dad' was something I always wanted to make & because Make School is awesome & gives students time to pursue passion projects, I was able to do it!
            </br>
            </br>
            So go ahead and check it out. If you see a review that you disagree (or agree!) with, feel free to leave a comment or your own review.
            </br>
            & if your favorite restaurant isn't here, then use the submit link up top to tell us all about it.
            </br>
            </br>
            Thanks so much for visiting, enjoy!
            </p>

        </div>
        <div class="img-container">
            <img class='about-pic' src="./static/dad_1.png" height='300px'>
            <img class='about-pic' src="./static/dad_2.png" height='265px'>
            <img class='about-pic' src="./static/dad_3.png" height='295px'>
        </div>
{% endblock %}
</div>
